*.log
.DS_Store
.awscredentials
.idea
.kubeconfig
.kubeconfig_createjob
.secretcache
.secrets
.terraform*
.vscode
REMOVE_*
commit_hash
html/js/*.bundle.*
local.auto.tfvars*
log/
node_modules/
ssl/
tele_env/
telepresence-deploy-*.yaml
templates_c/
terraform/ems-cd-helm-repository
terraform/ems-cd-terraform-repository
terraform/main.tf
terraform_init.sh
testrendered.yaml
testvalues.yaml
tmp/
vendor/